PR1/templates/templateName/Data Ingest/template.json
{
    "allowPreconditions": false,
    "configurationProperties": [],
    "createDate": 1487109884943,
    "dataTransformation": false,
    "defineTable": true,
    "description": "Standard Data Ingest",
    "feedsCount": 3,
    "icon": "github-circle",
    "iconColor": "#90CAF9",
    "id": "ID-0",
    "inputProcessors": [
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-2",
            "inputProcessor": true,
            "name": "Filesystem",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-1f67e296-2ff8-4b5d-326c-b1d9dd987a24-File Filter",
                    "inputProperty": true,
                    "key": "File Filter",
                    "nameKey": "NiFi Flow-Filesystem-File Filter",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-2",
                    "processorName": "Filesystem",
                    "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
                    "processorType": "org.apache.nifi.processors.standard.GetFile",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "File Filter",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "venue\\d{1,3}.csv",
                    "userEditable": true,
                    "value": "venues\\d{1,3}.csv"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-1f67e296-2ff8-4b5d-326c-b1d9dd987a24-Input Directory",
                    "inputProperty": true,
                    "key": "Input Directory",
                    "nameKey": "NiFi Flow-Filesystem-Input Directory",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-2",
                    "processorName": "Filesystem",
                    "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
                    "processorType": "org.apache.nifi.processors.standard.GetFile",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "Input Directory",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "/var/dropzone",
                    "userEditable": true,
                    "value": "/var/dropzone"
                }
            ],
            "type": "org.apache.nifi.processors.standard.GetFile",
            "userDefinedInputProcessor": false
        },
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-3",
            "inputProcessor": true,
            "name": "Database",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-2567efe0-b28d-46c2-6de3-cb38c2c33d72-System feed category",
                    "inputProperty": true,
                    "key": "System feed category",
                    "nameKey": "NiFi Flow-Database-System feed category",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-3",
                    "processorName": "Database",
                    "processorNameTypeKey": "Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed category",
                    "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed category",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.category.systemName}",
                    "userEditable": false,
                    "value": "${metadata.category.systemName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-2567efe0-b28d-46c2-6de3-cb38c2c33d72-System feed name",
                    "inputProperty": true,
                    "key": "System feed name",
                    "nameKey": "NiFi Flow-Database-System feed name",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-3",
                    "processorName": "Database",
                    "processorNameTypeKey": "Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed name",
                    "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed name",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.systemFeedName}",
                    "userEditable": false,
                    "value": "${metadata.systemFeedName}"
                }
            ],
            "type": "com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark",
            "userDefinedInputProcessor": false
        }
    ],
    "isStream": false,
    "nifiTemplateId": "ID-4",
    "nonInputProcessors": [
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-5",
            "inputProcessor": false,
            "name": "Initialize Cleanup Parameters",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-category",
                    "inputProperty": false,
                    "key": "category",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-category",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "category",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.category.systemName}",
                    "userEditable": false,
                    "value": "${metadata.category.systemName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-feed",
                    "inputProperty": false,
                    "key": "feed",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-feed",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "feed",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.systemFeedName}",
                    "userEditable": false,
                    "value": "${metadata.systemFeedName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hdfs.ingest.root",
                    "inputProperty": false,
                    "key": "hdfs.ingest.root",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hdfs.ingest.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hdfs.ingest.root}",
                    "userEditable": false,
                    "value": "${config.hdfs.ingest.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.ingest.root",
                    "inputProperty": false,
                    "key": "hive.ingest.root",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.ingest.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.ingest.root}",
                    "userEditable": false,
                    "value": "${config.hive.ingest.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.master.root",
                    "inputProperty": false,
                    "key": "hive.master.root",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.master.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.master.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.master.root}",
                    "userEditable": false,
                    "value": "${config.hive.master.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.profile.root",
                    "inputProperty": false,
                    "key": "hive.profile.root",
                    "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.profile.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-5",
                    "processorName": "Initialize Cleanup Parameters",
                    "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.profile.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.profile.root}",
                    "userEditable": false,
                    "value": "${config.hive.profile.root}"
                }
            ],
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "userDefinedInputProcessor": false
        },
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-6",
            "inputProcessor": false,
            "name": "Fetch RDBMS Data",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Date Field",
                    "inputProperty": false,
                    "key": "Date Field",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "Date Field",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": null,
                    "userEditable": true,
                    "value": null
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Load Strategy",
                    "inputProperty": false,
                    "key": "Load Strategy",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "Load Strategy",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "FULL_LOAD",
                    "userEditable": true,
                    "value": "FULL_LOAD"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Database Connection",
                    "inputProperty": false,
                    "key": "Source Database Connection",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
                        "name": "Source Database Connection",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "select",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "",
                    "userEditable": true,
                    "value": ""
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Fields",
                    "inputProperty": false,
                    "key": "Source Fields",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Fields",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "Source Fields",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.sourceFields}",
                    "userEditable": false,
                    "value": "${metadata.table.sourceFields}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Table",
                    "inputProperty": false,
                    "key": "Source Table",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Table",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "Source Table",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "select",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.sourceTableSchema.name}",
                    "userEditable": false,
                    "value": "${metadata.table.sourceTableSchema.name}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-System feed category",
                    "inputProperty": false,
                    "key": "System feed category",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed category",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed category",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.category.systemName}",
                    "userEditable": false,
                    "value": "${metadata.category.systemName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-System feed name",
                    "inputProperty": false,
                    "key": "System feed name",
                    "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed name",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-6",
                    "processorName": "Fetch RDBMS Data",
                    "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name",
                    "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed name",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.systemFeedName}",
                    "userEditable": false,
                    "value": "${metadata.systemFeedName}"
                }
            ],
            "type": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "userDefinedInputProcessor": false
        },
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-7",
            "inputProcessor": false,
            "name": "Initialize Feed Parameters",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-category",
                    "inputProperty": false,
                    "key": "category",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "category",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.category.systemName}",
                    "userEditable": false,
                    "value": "${metadata.category.systemName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-feed",
                    "inputProperty": false,
                    "key": "feed",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "feed",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.systemFeedName}",
                    "userEditable": false,
                    "value": "${metadata.systemFeedName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hdfs.ingest.root",
                    "inputProperty": false,
                    "key": "hdfs.ingest.root",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hdfs.ingest.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hdfs.ingest.root}",
                    "userEditable": false,
                    "value": "${config.hdfs.ingest.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.ingest.root",
                    "inputProperty": false,
                    "key": "hive.ingest.root",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.ingest.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.ingest.root}",
                    "userEditable": false,
                    "value": "${config.hive.ingest.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.master.root",
                    "inputProperty": false,
                    "key": "hive.master.root",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.master.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.master.root}",
                    "userEditable": false,
                    "value": "${config.hive.master.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.profile.root",
                    "inputProperty": false,
                    "key": "hive.profile.root",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "hive.profile.root",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${config.hive.profile.root}",
                    "userEditable": false,
                    "value": "${config.hive.profile.root}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.feedFieldStructure",
                    "inputProperty": false,
                    "key": "metadata.table.feedFieldStructure",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.feedFieldStructure",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.feedFieldStructure}",
                    "userEditable": false,
                    "value": "${metadata.table.feedFieldStructure}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.feedFormat",
                    "inputProperty": false,
                    "key": "metadata.table.feedFormat",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.feedFormat",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.feedFormat}",
                    "userEditable": false,
                    "value": "${metadata.table.feedFormat}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldIndexString",
                    "inputProperty": false,
                    "key": "metadata.table.fieldIndexString",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.fieldIndexString",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.fieldIndexString}",
                    "userEditable": false,
                    "value": "${metadata.table.fieldIndexString}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldPoliciesJson",
                    "inputProperty": false,
                    "key": "metadata.table.fieldPoliciesJson",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.fieldPoliciesJson",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.fieldPoliciesJson}",
                    "userEditable": false,
                    "value": "${metadata.table.fieldPoliciesJson}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldStructure",
                    "inputProperty": false,
                    "key": "metadata.table.fieldStructure",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.fieldStructure",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.fieldStructure}",
                    "userEditable": false,
                    "value": "${metadata.table.fieldStructure}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.partitionSpecs",
                    "inputProperty": false,
                    "key": "metadata.table.partitionSpecs",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.partitionSpecs",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.partitionSpecs}",
                    "userEditable": false,
                    "value": "${metadata.table.partitionSpecs}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.partitionStructure",
                    "inputProperty": false,
                    "key": "metadata.table.partitionStructure",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.partitionStructure",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.partitionStructure}",
                    "userEditable": false,
                    "value": "${metadata.table.partitionStructure}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetFormat",
                    "inputProperty": false,
                    "key": "metadata.table.targetFormat",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.targetFormat",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.targetFormat}",
                    "userEditable": false,
                    "value": "${metadata.table.targetFormat}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetMergeStrategy",
                    "inputProperty": false,
                    "key": "metadata.table.targetMergeStrategy",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.targetMergeStrategy",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.targetMergeStrategy}",
                    "userEditable": false,
                    "value": "${metadata.table.targetMergeStrategy}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetTblProperties",
                    "inputProperty": false,
                    "key": "metadata.table.targetTblProperties",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "metadata.table.targetTblProperties",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.table.targetTblProperties}",
                    "userEditable": false,
                    "value": "${metadata.table.targetTblProperties}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-skipHeader",
                    "inputProperty": false,
                    "key": "skipHeader",
                    "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-7",
                    "processorName": "Initialize Feed Parameters",
                    "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
                    "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "skipHeader",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.options.skipHeader}",
                    "userEditable": false,
                    "value": "${metadata.options.skipHeader}"
                }
            ],
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "userDefinedInputProcessor": false
        },
        {
            "groupId": "ID-1",
            "groupName": "NiFi Flow",
            "id": "ID-8",
            "inputProcessor": false,
            "name": "Failed - Release Highwater Mark",
            "properties": [
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-eb244f65-aaa3-1bba-6b94-a092595a5b65-System feed category",
                    "inputProperty": false,
                    "key": "System feed category",
                    "nameKey": "NiFi Flow-Failed - Release Highwater Mark-System feed category",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-8",
                    "processorName": "Failed - Release Highwater Mark",
                    "processorNameTypeKey": "Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed category",
                    "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed category",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.category.systemName}",
                    "userEditable": false,
                    "value": "${metadata.category.systemName}"
                },
                {
                    "containsConfigurationVariables": false,
                    "expressionProperties": null,
                    "idKey": "ID-1-eb244f65-aaa3-1bba-6b94-a092595a5b65-System feed name",
                    "inputProperty": false,
                    "key": "System feed name",
                    "nameKey": "NiFi Flow-Failed - Release Highwater Mark-System feed name",
                    "processGroupId": "ID-1",
                    "processGroupName": "NiFi Flow",
                    "processorId": "ID-8",
                    "processorName": "Failed - Release Highwater Mark",
                    "processorNameTypeKey": "Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed name",
                    "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark",
                    "propertyDescriptor": {
                        "allowableValues": null,
                        "defaultValue": null,
                        "description": null,
                        "displayName": null,
                        "dynamic": null,
                        "identifiesControllerService": null,
                        "name": "System feed name",
                        "required": null,
                        "sensitive": null,
                        "supportsEl": null
                    },
                    "renderOptions": {},
                    "renderType": "text",
                    "required": false,
                    "selected": true,
                    "sensitive": false,
                    "templateProperty": null,
                    "templateValue": "${metadata.systemFeedName}",
                    "userEditable": false,
                    "value": "${metadata.systemFeedName}"
                }
            ],
            "type": "com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark",
            "userDefinedInputProcessor": false
        }
    ],
    "order": 0,
    "properties": [
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-1f67e296-2ff8-4b5d-326c-b1d9dd987a24-File Filter",
            "inputProperty": true,
            "key": "File Filter",
            "nameKey": "NiFi Flow-Filesystem-File Filter",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-2",
            "processorName": "Filesystem",
            "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter",
            "processorType": "org.apache.nifi.processors.standard.GetFile",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "File Filter",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "venue\\d{1,3}.csv",
            "userEditable": true,
            "value": "venues\\d{1,3}.csv"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-1f67e296-2ff8-4b5d-326c-b1d9dd987a24-Input Directory",
            "inputProperty": true,
            "key": "Input Directory",
            "nameKey": "NiFi Flow-Filesystem-Input Directory",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-2",
            "processorName": "Filesystem",
            "processorNameTypeKey": "Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory",
            "processorType": "org.apache.nifi.processors.standard.GetFile",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "Input Directory",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "/var/dropzone",
            "userEditable": true,
            "value": "/var/dropzone"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-2567efe0-b28d-46c2-6de3-cb38c2c33d72-System feed category",
            "inputProperty": true,
            "key": "System feed category",
            "nameKey": "NiFi Flow-Database-System feed category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-3",
            "processorName": "Database",
            "processorNameTypeKey": "Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed category",
            "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-2567efe0-b28d-46c2-6de3-cb38c2c33d72-System feed name",
            "inputProperty": true,
            "key": "System feed name",
            "nameKey": "NiFi Flow-Database-System feed name",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-3",
            "processorName": "Database",
            "processorNameTypeKey": "Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed name",
            "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed name",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-category",
            "inputProperty": false,
            "key": "category",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-feed",
            "inputProperty": false,
            "key": "feed",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-feed",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "feed",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hdfs.ingest.root",
            "inputProperty": false,
            "key": "hdfs.ingest.root",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hdfs.ingest.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hdfs.ingest.root}",
            "userEditable": false,
            "value": "${config.hdfs.ingest.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.ingest.root",
            "inputProperty": false,
            "key": "hive.ingest.root",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.ingest.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.ingest.root}",
            "userEditable": false,
            "value": "${config.hive.ingest.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.master.root",
            "inputProperty": false,
            "key": "hive.master.root",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.master.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.master.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.master.root}",
            "userEditable": false,
            "value": "${config.hive.master.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-3d3a4495-7365-1c62-bae8-a968dba06b19-hive.profile.root",
            "inputProperty": false,
            "key": "hive.profile.root",
            "nameKey": "NiFi Flow-Initialize Cleanup Parameters-hive.profile.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-5",
            "processorName": "Initialize Cleanup Parameters",
            "processorNameTypeKey": "Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.profile.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.profile.root}",
            "userEditable": false,
            "value": "${config.hive.profile.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Date Field",
            "inputProperty": false,
            "key": "Date Field",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-Date Field",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "Date Field",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": null,
            "userEditable": true,
            "value": null
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Load Strategy",
            "inputProperty": false,
            "key": "Load Strategy",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-Load Strategy",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "Load Strategy",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "FULL_LOAD",
            "userEditable": true,
            "value": "FULL_LOAD"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Database Connection",
            "inputProperty": false,
            "key": "Source Database Connection",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Database Connection",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": "org.apache.nifi.dbcp.DBCPService",
                "name": "Source Database Connection",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "select",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "",
            "userEditable": true,
            "value": ""
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Fields",
            "inputProperty": false,
            "key": "Source Fields",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Fields",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "Source Fields",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.sourceFields}",
            "userEditable": false,
            "value": "${metadata.table.sourceFields}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-Source Table",
            "inputProperty": false,
            "key": "Source Table",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-Source Table",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "Source Table",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "select",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.sourceTableSchema.name}",
            "userEditable": false,
            "value": "${metadata.table.sourceTableSchema.name}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-System feed category",
            "inputProperty": false,
            "key": "System feed category",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-6aeabec7-ec36-4ed5-c610-1820423be5ad-System feed name",
            "inputProperty": false,
            "key": "System feed name",
            "nameKey": "NiFi Flow-Fetch RDBMS Data-System feed name",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-6",
            "processorName": "Fetch RDBMS Data",
            "processorNameTypeKey": "Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed name",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-category",
            "inputProperty": false,
            "key": "category",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-feed",
            "inputProperty": false,
            "key": "feed",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-feed",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "feed",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hdfs.ingest.root",
            "inputProperty": false,
            "key": "hdfs.ingest.root",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hdfs.ingest.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hdfs.ingest.root}",
            "userEditable": false,
            "value": "${config.hdfs.ingest.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.ingest.root",
            "inputProperty": false,
            "key": "hive.ingest.root",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.ingest.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.ingest.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.ingest.root}",
            "userEditable": false,
            "value": "${config.hive.ingest.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.master.root",
            "inputProperty": false,
            "key": "hive.master.root",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.master.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.master.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.master.root}",
            "userEditable": false,
            "value": "${config.hive.master.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-hive.profile.root",
            "inputProperty": false,
            "key": "hive.profile.root",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-hive.profile.root",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "hive.profile.root",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${config.hive.profile.root}",
            "userEditable": false,
            "value": "${config.hive.profile.root}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.feedFieldStructure",
            "inputProperty": false,
            "key": "metadata.table.feedFieldStructure",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.feedFieldStructure",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.feedFieldStructure}",
            "userEditable": false,
            "value": "${metadata.table.feedFieldStructure}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.feedFormat",
            "inputProperty": false,
            "key": "metadata.table.feedFormat",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.feedFormat",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.feedFormat}",
            "userEditable": false,
            "value": "${metadata.table.feedFormat}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldIndexString",
            "inputProperty": false,
            "key": "metadata.table.fieldIndexString",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.fieldIndexString",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.fieldIndexString}",
            "userEditable": false,
            "value": "${metadata.table.fieldIndexString}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldPoliciesJson",
            "inputProperty": false,
            "key": "metadata.table.fieldPoliciesJson",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.fieldPoliciesJson",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.fieldPoliciesJson}",
            "userEditable": false,
            "value": "${metadata.table.fieldPoliciesJson}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.fieldStructure",
            "inputProperty": false,
            "key": "metadata.table.fieldStructure",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.fieldStructure",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.fieldStructure}",
            "userEditable": false,
            "value": "${metadata.table.fieldStructure}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.partitionSpecs",
            "inputProperty": false,
            "key": "metadata.table.partitionSpecs",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.partitionSpecs",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.partitionSpecs}",
            "userEditable": false,
            "value": "${metadata.table.partitionSpecs}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.partitionStructure",
            "inputProperty": false,
            "key": "metadata.table.partitionStructure",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.partitionStructure",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.partitionStructure}",
            "userEditable": false,
            "value": "${metadata.table.partitionStructure}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetFormat",
            "inputProperty": false,
            "key": "metadata.table.targetFormat",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.targetFormat",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.targetFormat}",
            "userEditable": false,
            "value": "${metadata.table.targetFormat}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetMergeStrategy",
            "inputProperty": false,
            "key": "metadata.table.targetMergeStrategy",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.targetMergeStrategy",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.targetMergeStrategy}",
            "userEditable": false,
            "value": "${metadata.table.targetMergeStrategy}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-metadata.table.targetTblProperties",
            "inputProperty": false,
            "key": "metadata.table.targetTblProperties",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "metadata.table.targetTblProperties",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.table.targetTblProperties}",
            "userEditable": false,
            "value": "${metadata.table.targetTblProperties}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-7c627365-3d3a-4495-2290-3e03a37af999-skipHeader",
            "inputProperty": false,
            "key": "skipHeader",
            "nameKey": "NiFi Flow-Initialize Feed Parameters-skipHeader",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-7",
            "processorName": "Initialize Feed Parameters",
            "processorNameTypeKey": "Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader",
            "processorType": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "skipHeader",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.options.skipHeader}",
            "userEditable": false,
            "value": "${metadata.options.skipHeader}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-eb244f60-aaa3-1bba-99df-fd53a33803f2-System feed category",
            "inputProperty": true,
            "key": "System feed category",
            "nameKey": "NiFi Flow-TriggerCleanup-System feed category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-9",
            "processorName": "TriggerCleanup",
            "processorNameTypeKey": "TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed category",
            "processorType": "com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-eb244f60-aaa3-1bba-99df-fd53a33803f2-System feed name",
            "inputProperty": true,
            "key": "System feed name",
            "nameKey": "NiFi Flow-TriggerCleanup-System feed name",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-9",
            "processorName": "TriggerCleanup",
            "processorNameTypeKey": "TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed name",
            "processorType": "com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed name",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-eb244f65-aaa3-1bba-6b94-a092595a5b65-System feed category",
            "inputProperty": false,
            "key": "System feed category",
            "nameKey": "NiFi Flow-Failed - Release Highwater Mark-System feed category",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-8",
            "processorName": "Failed - Release Highwater Mark",
            "processorNameTypeKey": "Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed category",
            "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed category",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.category.systemName}",
            "userEditable": false,
            "value": "${metadata.category.systemName}"
        },
        {
            "containsConfigurationVariables": false,
            "expressionProperties": null,
            "idKey": "ID-1-eb244f65-aaa3-1bba-6b94-a092595a5b65-System feed name",
            "inputProperty": false,
            "key": "System feed name",
            "nameKey": "NiFi Flow-Failed - Release Highwater Mark-System feed name",
            "processGroupId": "ID-1",
            "processGroupName": "NiFi Flow",
            "processorId": "ID-8",
            "processorName": "Failed - Release Highwater Mark",
            "processorNameTypeKey": "Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed name",
            "processorType": "com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark",
            "propertyDescriptor": {
                "allowableValues": null,
                "defaultValue": null,
                "description": null,
                "displayName": null,
                "dynamic": null,
                "identifiesControllerService": null,
                "name": "System feed name",
                "required": null,
                "sensitive": null,
                "supportsEl": null
            },
            "renderOptions": {},
            "renderType": "text",
            "required": false,
            "selected": true,
            "sensitive": false,
            "templateProperty": null,
            "templateValue": "${metadata.systemFeedName}",
            "userEditable": false,
            "value": "${metadata.systemFeedName}"
        }
    ],
    "registeredDatasourceDefinitions": [
        {
            "datasourceDefinition": {
                "connectionType": "DESTINATION",
                "datasourcePropertyKeys": [
                    "Target schema",
                    "Target table"
                ],
                "datasourceType": "HiveDatasource",
                "description": null,
                "identityString": "${Target schema}.${Target table}",
                "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable",
                "title": "${Target schema}.${Target table}"
            },
            "processorId": "ID-10",
            "processorName": "Merge Table",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.MergeTable"
        },
        {
            "datasourceDefinition": {
                "connectionType": "SOURCE",
                "datasourcePropertyKeys": [
                    "File Filter",
                    "Input Directory"
                ],
                "datasourceType": "DirectoryDatasource",
                "description": " Directory or File source",
                "identityString": "${Input Directory}/${File Filter}",
                "processorType": "org.apache.nifi.processors.standard.GetFile",
                "title": "${Input Directory}/${File Filter}"
            },
            "processorId": "ID-11",
            "processorName": "Filesystem",
            "processorType": "org.apache.nifi.processors.standard.GetFile"
        },
        {
            "datasourceDefinition": {
                "connectionType": "SOURCE",
                "datasourcePropertyKeys": [
                    "Source Database Connection",
                    "Source Table"
                ],
                "datasourceType": "DatabaseDatasource",
                "description": null,
                "identityString": "${Source Table} - ${Source Database Connection}",
                "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData",
                "title": "${Source Table}"
            },
            "processorId": "ID-12",
            "processorName": "Fetch RDBMS Data",
            "processorType": "com.thinkbiganalytics.nifi.v2.ingest.GetTableData"
        }
    ],
    "reusableTemplate": false,
    "reusableTemplateConnections": [
        {
            "feedOutputPortName": "to-standard-cleanup",
            "inputPortDisplayName": "standard-cleanup",
            "reusableTemplateInputPortName": "standard-cleanup"
        },
        {
            "feedOutputPortName": "to-standard-ingest",
            "inputPortDisplayName": "standard-ingest",
            "reusableTemplateInputPortName": "standard-ingest"
        }
    ],
    "sensitiveProperties": [],
    "state": "ENABLED",
    "stream": false,
    "templateName": "Data Ingest",
    "templateOrder": null,
    "updateDate": 1494473333847
}
