exports/templates/index-text-service/nifiTemplate.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>3ea5ab62-015a-1000-d10e-a455b02521d2</groupId>
  <name>Index Text Service</name>
  <snippet>
    <connections>
      <id>2bd64d9c-2b1f-1ef0-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>0</backPressureObjectThreshold>
      <destination>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>2bd64d95-2b1f-1ef0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>2bd64d94-2b1f-1ef0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2bd64d9e-2b1f-1ef0-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>2bd64d96-2b1f-1ef0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>2bd64d95-2b1f-1ef0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7645cde9-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>76445cd8-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>764435d4-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7646174b-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>2bd64d94-2b1f-1ef0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>22e95f53-0159-1000-0000-000000000000</groupId>
        <id>76445cd8-0159-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>22edeed5-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Resources</key>
          <value>
            <name>Hadoop Configuration Resources</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
          <value>
            <name>Database Driver Jar Url</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>
            <name>Validation Query</name>
          </value>
        </entry>
      </descriptors>
      <name>Hive Thrift Service</name>
      <properties>
        <entry>
          <key>Hadoop Configuration Resources</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:hive2://localhost:10000/default</value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>org.apache.hive.jdbc.HiveDriver</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>nifi</value>
        </entry>
        <entry>
          <key>Database Driver Jar Url</key>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Validation Query</key>
          <value>show tables 'test'</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>com.thinkbiganalytics.nifi.v2.thrift.ThriftConnectionPool</type>
    </controllerServices>
    <controllerServices>
      <id>747122a8-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>cflib</key>
          <value>
            <name>cflib</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>cf</key>
          <value>
            <name>cf</name>
          </value>
        </entry>
        <entry>
          <key>broker</key>
          <value>
            <name>broker</name>
          </value>
        </entry>
      </descriptors>
      <name>JMSConnectionFactoryProvider</name>
      <properties>
        <entry>
          <key>cflib</key>
          <value>/opt/thinkbig/thinkbig-services/lib</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>cf</key>
          <value>org.apache.activemq.ActiveMQConnectionFactory</value>
        </entry>
        <entry>
          <key>broker</key>
          <value>tcp://localhost:61616</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.jms.cf.JMSConnectionFactoryProvider</type>
    </controllerServices>
    <processors>
      <id>2bd64d94-2b1f-1ef0-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1175.8589723112966</x>
        <y>10.269208435605378</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>SQL select query</key>
            <value>
              <name>SQL select query</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>com.thinkbiganalytics.nifi.v2.thrift.ThriftService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>SQL select query</key>
            <value>select ${fieldIndexString} from ${category}.${feed}_valid where processing_dttm =
    ${feedts}</value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>0 seconds</value>
          </entry>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>22edeed5-0159-1000-0000-000000000000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Extract Feed Data</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.thinkbiganalytics.nifi.v2.thrift.ExecuteHQL</type>
    </processors>
    <processors>
      <id>2bd64d95-2b1f-1ef0-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1182.5261933295053</x>
        <y>236.72683248032035</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JSON container options</key>
            <value>
              <name>JSON container options</name>
            </value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>
              <name>Wrap Single Record</name>
            </value>
          </entry>
          <entry>
            <key>Avro schema</key>
            <value>
              <name>Avro schema</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JSON container options</key>
            <value>array</value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Avro schema</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Prepare ElasticSearch Format</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
    </processors>
    <processors>
      <id>2bd64d96-2b1f-1ef0-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>1181.608570995654</x>
        <y>466.13084096644934</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>IndexName</key>
            <value>
              <name>IndexName</name>
            </value>
          </entry>
          <entry>
            <key>Type</key>
            <value>
              <name>Type</name>
            </value>
          </entry>
          <entry>
            <key>IdField</key>
            <value>
              <name>IdField</name>
            </value>
          </entry>
          <entry>
            <key>ClusterName</key>
            <value>
              <name>ClusterName</name>
            </value>
          </entry>
          <entry>
            <key>HostName</key>
            <value>
              <name>HostName</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>IndexName</key>
            <value>${category}</value>
          </entry>
          <entry>
            <key>Type</key>
            <value>${feed}</value>
          </entry>
          <entry>
            <key>IdField</key>
          </entry>
          <entry>
            <key>ClusterName</key>
            <value>demo-cluster</value>
          </entry>
          <entry>
            <key>HostName</key>
            <value>localhost</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Update ElasticSearch</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.thinkbiganalytics.nifi.v2.elasticsearch.IndexElasticSearch</type>
    </processors>
    <processors>
      <id>764435d4-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>User Name</key>
            <value>
              <name>User Name</name>
            </value>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>
              <name>Destination Name</name>
            </value>
          </entry>
          <entry>
            <key>Session Cache size</key>
            <value>
              <name>Session Cache size</name>
            </value>
          </entry>
          <entry>
            <key>Destination Type</key>
            <value>
              <name>Destination Type</name>
            </value>
          </entry>
          <entry>
            <key>Connection Factory Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.jms.cf.JMSConnectionFactoryProviderDefinition</identifiesControllerService>
              <name>Connection Factory Service</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>User Name</key>
          </entry>
          <entry>
            <key>Destination Name</key>
            <value>thinkbig.nifi.index</value>
          </entry>
          <entry>
            <key>Session Cache size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Destination Type</key>
            <value>QUEUE</value>
          </entry>
          <entry>
            <key>Connection Factory Service</key>
            <value>747122a8-0159-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Receive Index Request</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.jms.processors.ConsumeJMS</type>
    </processors>
    <processors>
      <id>76445cd8-0159-1000-0000-000000000000</id>
      <parentGroupId>22e95f53-0159-1000-0000-000000000000</parentGroupId>
      <position>
        <x>577.2225289560981</x>
        <y>1.55169261818628</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>feedts</key>
            <value>
              <name>feedts</name>
            </value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>feed</key>
            <value>
              <name>feed</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>category</key>
            <value>
              <name>category</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>fieldIndexString</key>
            <value>
              <name>fieldIndexString</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>feedts</key>
            <value>$.feedts</value>
          </entry>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>feed</key>
            <value>$.feed</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>category</key>
            <value>$.category</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>warn</value>
          </entry>
          <entry>
            <key>fieldIndexString</key>
            <value>$.['metadata.table.fieldIndexString']</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Extract Payload</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
  </snippet>
  <timestamp>02/14/2017 22:05:01 UTC</timestamp>
</template>