exports/templates/data-ingest/template.json
{"properties":[{"processGroupName":"NiFi Flow","processorName":"Database","processorId":"2567efe0-b28d-46c2-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-2567efe0-b28d-46c2-0000-000000000000-System feed category","processorNameTypeKey":"Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed category","nameKey":"NiFi Flow-Database-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Database","processorId":"2567efe0-b28d-46c2-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-2567efe0-b28d-46c2-0000-000000000000-System feed name","processorNameTypeKey":"Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed name","nameKey":"NiFi Flow-Database-System feed name"},{"processGroupName":"NiFi Flow","processorName":"Filesystem","processorId":"1f67e296-2ff8-4b5d-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.standard.GetFile","key":"File Filter","value":"mydata\\d{1,3}.csv","expressionProperties":null,"propertyDescriptor":{"name":"File Filter","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"mydata\\d{1,3}.csv","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-1f67e296-2ff8-4b5d-0000-000000000000-File Filter","processorNameTypeKey":"Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter","nameKey":"NiFi Flow-Filesystem-File Filter"},{"processGroupName":"NiFi Flow","processorName":"Filesystem","processorId":"1f67e296-2ff8-4b5d-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.standard.GetFile","key":"Input Directory","value":"/var/dropzone","expressionProperties":null,"propertyDescriptor":{"name":"Input Directory","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"/var/dropzone","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-1f67e296-2ff8-4b5d-0000-000000000000-Input Directory","processorNameTypeKey":"Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory","nameKey":"NiFi Flow-Filesystem-Input Directory"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"eb244f60-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f60-aaa3-1bba-0000-000000000000-System feed category","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed category","nameKey":"NiFi Flow-TriggerCleanup-System feed category"},{"processGroupName":"NiFi Flow","processorName":"TriggerCleanup","processorId":"eb244f60-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f60-aaa3-1bba-0000-000000000000-System feed name","processorNameTypeKey":"TriggerCleanup-com.thinkbiganalytics.nifi.v2.metadata.TriggerCleanup-System feed name","nameKey":"NiFi Flow-TriggerCleanup-System feed name"},{"processGroupName":"NiFi Flow","processorName":"Failed - Release Highwater Mark","processorId":"eb244f65-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f65-aaa3-1bba-0000-000000000000-System feed category","processorNameTypeKey":"Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed category","nameKey":"NiFi Flow-Failed - Release Highwater Mark-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Failed - Release Highwater Mark","processorId":"eb244f65-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f65-aaa3-1bba-0000-000000000000-System feed name","processorNameTypeKey":"Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed name","nameKey":"NiFi Flow-Failed - Release Highwater Mark-System feed name"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Date Field","value":null,"expressionProperties":null,"propertyDescriptor":{"name":"Date Field","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":null,"userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Date Field","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field","nameKey":"NiFi Flow-Fetch RDBMS Data-Date Field"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Load Strategy","value":"FULL_LOAD","expressionProperties":null,"propertyDescriptor":{"name":"Load Strategy","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"FULL_LOAD","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Load Strategy","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy","nameKey":"NiFi Flow-Fetch RDBMS Data-Load Strategy"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Database Connection","value":"","expressionProperties":null,"propertyDescriptor":{"name":"Source Database Connection","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":"org.apache.nifi.dbcp.DBCPService"},"templateValue":"","userEditable":true,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Database Connection","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Database Connection"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Fields","value":"${metadata.table.sourceFields}","expressionProperties":null,"propertyDescriptor":{"name":"Source Fields","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.sourceFields}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Fields","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Fields"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Table","value":"${metadata.table.sourceTableSchema.name}","expressionProperties":null,"propertyDescriptor":{"name":"Source Table","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.sourceTableSchema.name}","userEditable":false,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Table","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Table"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-System feed category","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category","nameKey":"NiFi Flow-Fetch RDBMS Data-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-System feed name","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name","nameKey":"NiFi Flow-Fetch RDBMS Data-System feed name"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-category","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category","nameKey":"NiFi Flow-Initialize Cleanup Parameters-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-feed","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed","nameKey":"NiFi Flow-Initialize Cleanup Parameters-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hdfs.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.master.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.profile.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-category","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category","nameKey":"NiFi Flow-Initialize Feed Parameters-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-feed","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed","nameKey":"NiFi Flow-Initialize Feed Parameters-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hdfs.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.master.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.profile.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.feedFieldStructure","value":"${metadata.table.feedFieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFieldStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.feedFieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.feedFieldStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.feedFormat","value":"${metadata.table.feedFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFormat","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.feedFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.feedFormat","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldIndexString","value":"${metadata.table.fieldIndexString}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldIndexString","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldIndexString}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldIndexString","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldPoliciesJson","value":"${metadata.table.fieldPoliciesJson}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldPoliciesJson","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldPoliciesJson}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldPoliciesJson","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldStructure","value":"${metadata.table.fieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.partitionSpecs","value":"${metadata.table.partitionSpecs}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.partitionSpecs","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.partitionSpecs}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.partitionSpecs","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.partitionStructure","value":"${metadata.table.partitionStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.partitionStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.partitionStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.partitionStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetFormat","value":"${metadata.table.targetFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetFormat","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetFormat","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetMergeStrategy","value":"${metadata.table.targetMergeStrategy}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetMergeStrategy","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetMergeStrategy}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetMergeStrategy","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetTblProperties","value":"${metadata.table.targetTblProperties}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetTblProperties","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetTblProperties}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetTblProperties","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"skipHeader","value":"${metadata.options.skipHeader}","expressionProperties":null,"propertyDescriptor":{"name":"skipHeader","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.options.skipHeader}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-skipHeader","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader","nameKey":"NiFi Flow-Initialize Feed Parameters-skipHeader"}],"nonInputProcessors":[{"properties":[{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-category","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category","nameKey":"NiFi Flow-Initialize Cleanup Parameters-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-feed","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed","nameKey":"NiFi Flow-Initialize Cleanup Parameters-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hdfs.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.ingest.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.master.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Cleanup Parameters","processorId":"3d3a4495-7365-1c62-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-3d3a4495-7365-1c62-0000-000000000000-hive.profile.root","processorNameTypeKey":"Initialize Cleanup Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root","nameKey":"NiFi Flow-Initialize Cleanup Parameters-hive.profile.root"}],"type":"org.apache.nifi.processors.attributes.UpdateAttribute","name":"Initialize Cleanup Parameters","id":"3d3a4495-7365-1c62-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":false,"userDefinedInputProcessor":false},{"properties":[{"processGroupName":"NiFi Flow","processorName":"Failed - Release Highwater Mark","processorId":"eb244f65-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f65-aaa3-1bba-0000-000000000000-System feed category","processorNameTypeKey":"Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed category","nameKey":"NiFi Flow-Failed - Release Highwater Mark-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Failed - Release Highwater Mark","processorId":"eb244f65-aaa3-1bba-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-eb244f65-aaa3-1bba-0000-000000000000-System feed name","processorNameTypeKey":"Failed - Release Highwater Mark-com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark-System feed name","nameKey":"NiFi Flow-Failed - Release Highwater Mark-System feed name"}],"type":"com.thinkbiganalytics.nifi.v2.core.watermark.ReleaseHighWaterMark","name":"Failed - Release Highwater Mark","id":"eb244f65-aaa3-1bba-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":false,"userDefinedInputProcessor":false},{"properties":[{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Date Field","value":null,"expressionProperties":null,"propertyDescriptor":{"name":"Date Field","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":null,"userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Date Field","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Date Field","nameKey":"NiFi Flow-Fetch RDBMS Data-Date Field"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Load Strategy","value":"FULL_LOAD","expressionProperties":null,"propertyDescriptor":{"name":"Load Strategy","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"FULL_LOAD","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Load Strategy","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Load Strategy","nameKey":"NiFi Flow-Fetch RDBMS Data-Load Strategy"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Database Connection","value":"","expressionProperties":null,"propertyDescriptor":{"name":"Source Database Connection","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":"org.apache.nifi.dbcp.DBCPService"},"templateValue":"","userEditable":true,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Database Connection","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Database Connection","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Database Connection"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Fields","value":"${metadata.table.sourceFields}","expressionProperties":null,"propertyDescriptor":{"name":"Source Fields","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.sourceFields}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Fields","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Fields","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Fields"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"Source Table","value":"${metadata.table.sourceTableSchema.name}","expressionProperties":null,"propertyDescriptor":{"name":"Source Table","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.sourceTableSchema.name}","userEditable":false,"renderType":"select","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-Source Table","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-Source Table","nameKey":"NiFi Flow-Fetch RDBMS Data-Source Table"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-System feed category","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed category","nameKey":"NiFi Flow-Fetch RDBMS Data-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-6aeabec7-ec36-4ed5-0000-000000000000-System feed name","processorNameTypeKey":"Fetch RDBMS Data-com.thinkbiganalytics.nifi.v2.ingest.GetTableData-System feed name","nameKey":"NiFi Flow-Fetch RDBMS Data-System feed name"}],"type":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","name":"Fetch RDBMS Data","id":"6aeabec7-ec36-4ed5-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":false,"userDefinedInputProcessor":false},{"properties":[{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-category","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-category","nameKey":"NiFi Flow-Initialize Feed Parameters-category"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"feed","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"feed","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-feed","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-feed","nameKey":"NiFi Flow-Initialize Feed Parameters-feed"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hdfs.ingest.root","value":"${config.hdfs.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hdfs.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hdfs.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hdfs.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hdfs.ingest.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hdfs.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.ingest.root","value":"${config.hive.ingest.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.ingest.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.ingest.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.ingest.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.ingest.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.ingest.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.master.root","value":"${config.hive.master.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.master.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.master.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.master.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.master.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.master.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"hive.profile.root","value":"${config.hive.profile.root}","expressionProperties":null,"propertyDescriptor":{"name":"hive.profile.root","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${config.hive.profile.root}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-hive.profile.root","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-hive.profile.root","nameKey":"NiFi Flow-Initialize Feed Parameters-hive.profile.root"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.feedFieldStructure","value":"${metadata.table.feedFieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFieldStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.feedFieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.feedFieldStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFieldStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.feedFormat","value":"${metadata.table.feedFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.feedFormat","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.feedFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.feedFormat","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.feedFormat","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.feedFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldIndexString","value":"${metadata.table.fieldIndexString}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldIndexString","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldIndexString}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldIndexString","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldIndexString","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldIndexString"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldPoliciesJson","value":"${metadata.table.fieldPoliciesJson}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldPoliciesJson","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldPoliciesJson}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldPoliciesJson","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldPoliciesJson","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldPoliciesJson"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.fieldStructure","value":"${metadata.table.fieldStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.fieldStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.fieldStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.fieldStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.fieldStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.fieldStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.partitionSpecs","value":"${metadata.table.partitionSpecs}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.partitionSpecs","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.partitionSpecs}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.partitionSpecs","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionSpecs","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.partitionSpecs"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.partitionStructure","value":"${metadata.table.partitionStructure}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.partitionStructure","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.partitionStructure}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.partitionStructure","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.partitionStructure","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.partitionStructure"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetFormat","value":"${metadata.table.targetFormat}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetFormat","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetFormat}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetFormat","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetFormat","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetFormat"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetMergeStrategy","value":"${metadata.table.targetMergeStrategy}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetMergeStrategy","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetMergeStrategy}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetMergeStrategy","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetMergeStrategy","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetMergeStrategy"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"metadata.table.targetTblProperties","value":"${metadata.table.targetTblProperties}","expressionProperties":null,"propertyDescriptor":{"name":"metadata.table.targetTblProperties","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.table.targetTblProperties}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-metadata.table.targetTblProperties","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-metadata.table.targetTblProperties","nameKey":"NiFi Flow-Initialize Feed Parameters-metadata.table.targetTblProperties"},{"processGroupName":"NiFi Flow","processorName":"Initialize Feed Parameters","processorId":"7c627365-3d3a-4495-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.attributes.UpdateAttribute","key":"skipHeader","value":"${metadata.options.skipHeader}","expressionProperties":null,"propertyDescriptor":{"name":"skipHeader","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.options.skipHeader}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":false,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-7c627365-3d3a-4495-0000-000000000000-skipHeader","processorNameTypeKey":"Initialize Feed Parameters-org.apache.nifi.processors.attributes.UpdateAttribute-skipHeader","nameKey":"NiFi Flow-Initialize Feed Parameters-skipHeader"}],"type":"org.apache.nifi.processors.attributes.UpdateAttribute","name":"Initialize Feed Parameters","id":"7c627365-3d3a-4495-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":false,"userDefinedInputProcessor":false}],"inputProcessors":[{"properties":[{"processGroupName":"NiFi Flow","processorName":"Database","processorId":"2567efe0-b28d-46c2-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark","key":"System feed category","value":"${metadata.category.systemName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed category","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.category.systemName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-2567efe0-b28d-46c2-0000-000000000000-System feed category","processorNameTypeKey":"Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed category","nameKey":"NiFi Flow-Database-System feed category"},{"processGroupName":"NiFi Flow","processorName":"Database","processorId":"2567efe0-b28d-46c2-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark","key":"System feed name","value":"${metadata.systemFeedName}","expressionProperties":null,"propertyDescriptor":{"name":"System feed name","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"${metadata.systemFeedName}","userEditable":false,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-2567efe0-b28d-46c2-0000-000000000000-System feed name","processorNameTypeKey":"Database-com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark-System feed name","nameKey":"NiFi Flow-Database-System feed name"}],"type":"com.thinkbiganalytics.nifi.v2.core.watermark.LoadHighWaterMark","name":"Database","id":"2567efe0-b28d-46c2-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":true,"userDefinedInputProcessor":false},{"properties":[{"processGroupName":"NiFi Flow","processorName":"Filesystem","processorId":"1f67e296-2ff8-4b5d-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.standard.GetFile","key":"File Filter","value":"mydata\\d{1,3}.csv","expressionProperties":null,"propertyDescriptor":{"name":"File Filter","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"mydata\\d{1,3}.csv","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-1f67e296-2ff8-4b5d-0000-000000000000-File Filter","processorNameTypeKey":"Filesystem-org.apache.nifi.processors.standard.GetFile-File Filter","nameKey":"NiFi Flow-Filesystem-File Filter"},{"processGroupName":"NiFi Flow","processorName":"Filesystem","processorId":"1f67e296-2ff8-4b5d-0000-000000000000","processGroupId":"7c664aaf-3d33-447e-0000-000000000000","processorType":"org.apache.nifi.processors.standard.GetFile","key":"Input Directory","value":"/var/dropzone","expressionProperties":null,"propertyDescriptor":{"name":"Input Directory","displayName":null,"description":null,"defaultValue":null,"allowableValues":null,"required":null,"sensitive":null,"dynamic":null,"supportsEl":null,"identifiesControllerService":null},"templateValue":"/var/dropzone","userEditable":true,"renderType":"text","renderOptions":{},"selected":true,"inputProperty":true,"containsConfigurationVariables":false,"sensitive":false,"required":false,"templateProperty":null,"idKey":"7c664aaf-3d33-447e-0000-000000000000-1f67e296-2ff8-4b5d-0000-000000000000-Input Directory","processorNameTypeKey":"Filesystem-org.apache.nifi.processors.standard.GetFile-Input Directory","nameKey":"NiFi Flow-Filesystem-Input Directory"}],"type":"org.apache.nifi.processors.standard.GetFile","name":"Filesystem","id":"1f67e296-2ff8-4b5d-0000-000000000000","groupName":"NiFi Flow","groupId":"7c664aaf-3d33-447e-0000-000000000000","inputProcessor":true,"userDefinedInputProcessor":false}],"id":"fddb1d3d-c090-4140-81b0-936d223ae896","nifiTemplateId":"dd1d5ce9-7a66-45b9-9d12-ad1d0bbb779f","templateName":"Data Ingest","updateDate":1487186521967,"createDate":1487109884943,"icon":"keyboard_tab","iconColor":"#66BB6A","description":"Standard Data Ingest","state":"ENABLED","defineTable":true,"reusableTemplate":false,"reusableTemplateConnections":[{"feedOutputPortName":"to-standard-ingest","reusableTemplateInputPortName":"standard-ingest","inputPortDisplayName":"standard-ingest"},{"feedOutputPortName":"to-standard-cleanup","reusableTemplateInputPortName":"standard-cleanup","inputPortDisplayName":"standard-cleanup"}],"registeredDatasourceDefinitions":[{"processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","processorName":"Fetch RDBMS Data","processorId":"6aeabec7-ec36-4ed5-0000-000000000000","datasourceDefinition":{"processorType":"com.thinkbiganalytics.nifi.v2.ingest.GetTableData","connectionType":"SOURCE","datasourcePropertyKeys":["Source Database Connection","Source Table"],"datasourceType":"DatabaseDatasource","identityString":"${Source Table} - ${Source Database Connection}","description":null,"title":"${Source Table}"}},{"processorType":"org.apache.nifi.processors.standard.GetFile","processorName":"Filesystem","processorId":"1f67e296-2ff8-4b5d-0000-000000000000","datasourceDefinition":{"processorType":"org.apache.nifi.processors.standard.GetFile","connectionType":"SOURCE","datasourcePropertyKeys":["Input Directory","File Filter"],"datasourceType":"DirectoryDatasource","identityString":"${Input Directory}/${File Filter}","description":" Directory or File source","title":"${Input Directory}/${File Filter}"}},{"processorType":"com.thinkbiganalytics.nifi.v2.ingest.MergeTable","processorName":"Merge Table","processorId":"2b1f1ef0-4e13-1bd6-eeef-10ba526d551f","datasourceDefinition":{"processorType":"com.thinkbiganalytics.nifi.v2.ingest.MergeTable","connectionType":"DESTINATION","datasourcePropertyKeys":["Target schema","Target table"],"datasourceType":"HiveDatasource","identityString":"${Target schema}.${Target table}","description":null,"title":"${Target schema}.${Target table}"}}],"order":0,"templateOrder":null,"feedsCount":3,"configurationProperties":[],"stream":false,"sensitiveProperties":[],"allowPreconditions":false,"dataTransformation":false,"isStream":false}